
@{
    ViewBag.Title = "Company";
    Layout = "~/Views/Shared/_IranLayout.cshtml";
}

<title>@ViewBag.myTitle</title>
<meta name="description" content="@ViewBag.Mydesc">
<meta content="@ViewBag.mykeyword" name="keywords">
<center>
    <h1>@ViewBag.myTitle</h1>
    <br />
    <img src="/Content/CompanyImage/@ViewBag.Image">
    <br />
    <h3>@ViewBag.content</h3>
    <br />
</center>

