@model DataLayer.Maghaleh

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-rtl.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-2.2.0.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap-rtl.js"></script>
</head>
<body>
    @using (Html.BeginForm("Create", "Maghalehs",FormMethod.Post, new { encType = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        
        <div class="form-horizontal">
            <h4>Maghaleh</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
               نام
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>
    
            <div class="form-group">
               تصویر
                <div class="col-md-10">
                  <input type="file" name="MyPic" id="MyPic" />
                </div>
            </div>
    
            <div class="form-group">
           فایل
                <div class="col-md-10">
                    <input type="file" name="MyFile" id="MyFile" />
                </div>
            </div>
    
            <div class="form-group">
              محتوا
                <div class="col-md-10">
                    @Html.TextAreaFor(q=>q.Content,new { @class="form-control" })
                    @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                کلمات کلیدی
                <div class="col-md-10">
                    @Html.TextAreaFor(q => q.KeyWords, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.KeyWords, "", new { @class = "text-danger" })
                </div>
            </div>
    
            <div class="form-group">
              منبع
                <div class="col-md-10">
                    @Html.EditorFor(model => model.writer, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.writer, "", new { @class = "text-danger" })
                </div>
            </div>
    
    
            <div class="form-group">
                گروه مقاله
                <div class="col-md-10">
                    @Html.DropDownList("MaghId", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.MaghId, "", new { @class = "text-danger" })
                </div>
            </div>
    
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="ذخیره" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
    
    <div>
        @Html.ActionLink("بازگشت", "Index")
    </div>
</body>
</html>
